.Root {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  max-width: 32rem;
  width: 100%;
}

.Title {
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  letter-spacing: -0.025em;
  font-family: "Audiowide", sans-serif;
}

.SettingsButton {
  position: absolute;
  right: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  color: #737373;
  transition: color 0.15s, background-color 0.15s;

  &:hover {
    color: #d4d4d4;
    background-color: #262626;
  }
}

.SettingsIcon {
  width: 1.5rem;
  height: 1.5rem;
}
