.Dot {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 9999px;
}

.Green {
  background-color: var(--color-status-green);
}

.Yellow {
  background-color: var(--color-status-yellow);
}

.Red {
  background-color: var(--color-status-red);
}
