.Layout {
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  max-width: 640px;
  margin: 0 auto;
  padding: 1rem;
  user-select: none;
  z-index: 1;
  align-items: center;
}
